# ============================================
# Django
# ============================================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# ============================================
# Entorno virtual
# ============================================
venv/
ENV/
env/
.venv/
.env/

# ============================================
# Archivos de entorno y configuración
# ============================================
.env
.env.*
*.env

# ============================================
# Archivos del sistema
# ============================================
.DS_Store
Thumbs.db

# ============================================
# IDEs y editores
# ============================================
.v
